$primary-background-color: #fafafa;
$secondary-background-color: #131921;
$tertiary-background-color: #232f3e;

$primary-text-color: #ffffff;
$secondary-text-color: #444444;
$tertiary-text-color: #0f1111;

$primary-button-color: #ffd814;

$primary-button-hover-color: #f7ca00;

$link-text-color: #0066c0;
$secondary-link-text-color: #007185;

$primary-border-color: 1px solid #a6a6a6;
$secondary-border-color: #007185;

$primary-products-background: #f7f4f4;

// .container {
//   background-color: $primary-color;
// }
