$padding-standard: 24px;

$font-size-12px: 12px;
$font-size-13px: 13px;
$font-size-14px: 14px;
$font-size-16px: 16px;
$font-size-18px: 18px;
$font-size-20px: 20px;

// .box {
//   padding: $padding-standard;
// }
